<script src="/plugins/rating/jquery.star-rating-svg.js"></script>
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="/js/chartjs-plugin-deferred.min.js"></script>
<link rel="stylesheet" type="text/css" href="/plugins/rating/css/star-rating-svg.css">
<!--Main Layout-->
<main>
    <div class="container" id="main">
        <section class="section mt-3">
            <!--Grid row-->
            <div class="row">
                <div class="col-md-auto">
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body card-body-cascade text-center">
<!--                            <div class="d-flex justify-content-end p-3">-->
<!--                                &lt;!&ndash; Card image &ndash;&gt;-->
<!--                                <img class="card-img-top img-fluid" style="width: 100px"-->
<!--                                     src="https://images-na.ssl-images-amazon.com/images/I/617H1Z7lr8L._AC_SL1500_.jpg"-->
<!--                                     alt="Card image cap">-->
<!--                            </div>-->
                            <h2 class="p-2"><a><strong>{{course.className}}</strong></a></h2>
                            <p>
                                <a>{{course.classCode}}&nbsp;</a>
                                <a class="text-light ml-2 mr-2">|</a>
                                <a>{{course.professor}}&nbsp;</a>
                                <p class="card-text">
                                    <a class="p-2">Quality&nbsp;<i class="rating-overall-quality"></i>&nbsp;</a>
                                    <a class="p-2">Difficulty&nbsp;<i class="rating-overall-difficulty"></i>&nbsp;</a>
                                    <a class="p-2">Average Grade&nbsp;<span
                                            class="badge badge-pill badge-primary">{{course.overallGradeLetter}}</span></a>
                                </p>
                            </p>
                        </div>
                    </div>
                    <div class="excerpt mt-5">
                        <h4 class="pt-4">Course Info</h4>
                        <hr>
                        <p>
                            <p> Semester:
                                {{#each course.classSemester}}
                                <span class=" badge badge-pill badge-default">{{course.classSemester}}</span>
                                {{/each}}
                                Session:
                                {{#each course.classSession}}
                                <span class=" badge badge-pill badge-secondary">{{this}}</span>&nbsp;
                                {{/each}}
                                Section: <span class=" badge badge-pill badge-info">{{course.classSection}}</span>&nbsp;
                                Units: <span class=" badge badge-pill badge-primary">{{course.classUnits}}</span>&nbsp;
                            </p>
                        </p>
                        <h4 class="pt-4">Course Intro</h4>
                        <hr>
                        <p>
                            {{{course.classDescription}}}
                        </p>
                        <h4 class="pt-4">Prerequisite</h4>
                        <hr>
                        <p>
                            {{course.classPrereq}}
                        </p>

                        <div class="d-flex justify-content-end">
                            <a class="text-primary small" href="{{course.classWebsite}}">>>> Course Website</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <h4 class="pt-4">Analysis</h4>
        <hr>
        <section class="charts p-2">
        <div class="row justify-content-start">
            <div class="col-md-4">
                <canvas class="ml-n3" id="myChart" width="300" height="250"></canvas>
            </div>
            <div class="col-md-4">
                <canvas class="ml-n3" id="myChart2" width="300" height="250"></canvas>
            </div>
            <div class="col-md-4">
                <canvas class="ml-n3" id="myChart3" width="300" height="250"></canvas>
            </div>
        </div>
        </section>
        {{#if relatedClass}}
        <h4 class="pt-5">Related Class & Professor</h4>
        <hr>
        <section class="related-prof p-2">
            <div class="row justify-content-start">
                <div class="col-md-12">
                    <div class="text-left">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Class</th>
                                <th scope="col">Professor</th>
                                <th scope="col">Quality</th>
                                <th scope="col">Difficulty</th>
                                <th scope="col">Grade</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each relatedClass as |Class| }}
                            <tr>
                                <td>{{Class.classCode}}</td>
                                <td>{{Class.professor}}</td>
                                <td>{{Class.overallClassQualityRate}}</td>
                                <td>{{Class.overallClassDifficultyRate}}</td>
                                <td>{{Class.overallGradeLetter}}</td>
                                <td><a class="dark-grey-text" href={{Class._id}}>view</a></td>
                            </tr>
                            {{/each}}
                            </tbody>
                        </table>
<!--                        <a class="text-muted font-small ml-auto float-right">See more comprison</a>-->
                    </div>
                </div>
            </div>
        </section>
            {{/if}}
        <section class="mb-4 pt-5" >
            <div class="comments-list text-center text-md-left mb-5">
                <div class="text-center mb-4">
                    <h3 class="font-weight-bold pt-3 mb-5">Reviews <span class="badge pink">{{reviewNum}}</span></h3>
                    <hr>
                </div>
                {{#unless reviews}}
                    <div class="container mt-3">
                        <div class="row">
                            <div class="col-md-4">
                                <img src="/img/illustration/noReviews.svg" class="img-fluid">
                            </div>
                            <div class="col-md-6 mt-5">
                                <div class="mb-5">&nbsp;</div>
                                <h4 class="text-muted text-center">Be The First One To Review This Class</h4>
                            </div>
                        </div>
                    </div>
                {{/unless}}
                {{#each reviews as |review|}}
                <div id="review1" class="row mb-4 p-3">
                    <div class="col-sm-2 col-12 mb-md-0 mb-3">
                        <img src="{{userAvatarUrl}}" class="avatar rounded-circle z-depth-1-half">
                    </div>
                    <div class="col-sm-10 col-12">
                        <a>
                            <h4 class="font-weight-bold">{{review.userNickname}}</h4>
                        </a>
                        <div class="mt-2">
                            <ul class="list-unstyled list-group list-group-horizontal">
                                <li class="review-date mr-3 dark-grey-text font-small"><i
                                        class="fas fa-clock"></i>&nbsp;{{review.reviewDate}} {{review.reviewSemester}}</li>
                                <li class="mr-3 dark-grey-text font-small">Grade <span
                                        class=" badge badge-pill badge-primary z-depth-0">{{review.reviewGrade}}</span></li>
                                <li class="mr-3 dark-grey-text font-small">Quality &nbsp;<i class="rating-quality-{{@index}}"></i>&nbsp;</li>
                                <li class="mr-3 dark-grey-text font-small">Difficulty &nbsp;<i class="rating-difficulty-{{@index}}"></i>&nbsp;</li>
                                <li class="mr-3 dark-grey-text font-small">HW Load: <span
                                        class=" badge badge-pill badge-light z-depth-0">{{review.hwLoad}} </span></li></li>
                                <li class="mr-3 dark-grey-text font-small">Exam &nbsp;<span
                                        class=" badge badge-pill badge-light z-depth-0">{{review.exam}}</span></li></li>
                            </ul>
                        </div>
                        <p class="pt-4 pb-3">{{review.reviewContent}}</p>
                    </div>
                </div>
                <hr>
                {{/each}}
            </div>
        </section>
    </div>

</main>
<!--Main Layout-->


<!--Modal For Add Review-->
<div class="modal fade" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100">Add Review</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-12 mt-3">
                        <form id="reviewForm" method="POST" action="/addReview">
                        <input type="text" id="currentClass" name="currentClass" class="d-none">
                            <div class="form-group">
                                <p class="form-text">
                                    <span class="h5">You are adding reviews for</span>
                                </p>
                                <div class="card z-depth-0 border">
                                    <div class="card-body">
                                        <div class="card-text">
                                            <a>{{course.className}}</a>
                                            <span class="ml-2 mr-2">|</span>
                                            <a>{{course.classCode}}</a>
                                            <span class="ml-2 mr-2">|</span>
                                            <a>{{course.classSection}}</a>
                                            <span class="ml-2 mr-2">|</span>
                                            <a>{{course.professor}}</a>
                                            <a id="classID" class="d-none">{{course._id}}</a>
                                        </div>
                                    </div>
                                </div>
                                <p class="form-text mb-3 mt-4">
                                    <span class="h5">Rating</span>
                                    <hr>
                                </p>
                                <div class="form-row mb-2 p-3">
                                    <div class="col">
                                        <p class="h6">Quality <i class="rating-rate-quality"></i></p>
                                        <input class="d-none" type="text" name="classQuality" id="classQuality">
                                    </div>
                                    <div class="col">
                                        <p class="h6">Difficulty <i class="rating-rate-difficulty"></i></p>
                                        <input class="d-none" type="text" name="classDifficulty" id="classDifficulty">
                                    </div>
                                </div>
                                <p class="form-text">
                                    <hr>
                                </p>
                                <div class="form-row mb-2 pt-2">
                                    <div class="col-md-12">
                                        <label class="col-sm-auto col-form-label">Homework Load</label>
                                        <!-- HW Load -->
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Very Easy" id="hwLoad1" name="hwLoad">
                                            <label class="form-check-label" for="hwLoad1">Very Easy</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Easy" id="hwLoad2" name="hwLoad">
                                            <label class="form-check-label" for="hwLoad2">Easy</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Fair" id="hwLoad3" name="hwLoad">
                                            <label class="form-check-label" for="hwLoad3">Fair</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Hard" id="hwLoad4" name="hwLoad">
                                            <label class="form-check-label" for="hwLoad4">Hard</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Impossible" id="hwLoad5" name="hwLoad">
                                            <label class="form-check-label" for="hwLoad5">Impossible</label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row mb-2 pt-2">
                                    <div class="col-md-12">
                                        <label class="col-sm-auto col-form-label" style="margin-right: 75px">Exam</label>
                                        <!-- HW Load -->
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Very Easy" id="Exam1" name="exam">
                                            <label class="form-check-label" for="Exam1">Very Easy</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Easy" id="Exam2" name="exam">
                                            <label class="form-check-label" for="Exam2">Easy</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Fair" id="Exam3" name="exam">
                                            <label class="form-check-label" for="Exam3">Fair</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Hard" id="Exam4" name="exam">
                                            <label class="form-check-label" for="Exam4">Hard</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input type="radio" class="form-check-input" value="Impossible" id="Exam5" name="exam">
                                            <label class="form-check-label" for="Exam5">Impossible</label>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-row mb-2">
                                    <div class="col-md-4 ml-2">
                                        <select name="semester" class="mdb-select md-form"
                                            style="font-family: Istok Web;">
                                            <option value="" disabled selected>Semester</option>
                                            <option value="fall">Fall</option>
                                            <option value="spring">Spring</option>
                                            <option value="summer">Summer</option>
                                            <option value="winter">Winter</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4 offset-2">
                                        <select name="grade" class="mdb-select md-form" style="font-family: Istok Web;">
                                            <option value="" disabled selected>Your final grade: (optional)</option>
                                            <option value="A+">A+</option>
                                            <option value="A">A</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B</option>
                                            <option value="B">B</option>
                                            <option value="B-">B-</option>
                                            <option value="C+">C</option>
                                            <option value="C">C</option>
                                            <option value="C-">C-</option>
                                            <option value="D">D</option>
                                            <option value="D-">D-</option>
                                            <option value="F">F</option>
                                        </select>
                                    </div>
                                </div>
                                <p class="form-text mb-3">
                                    <span class="h5">Review</span>
                                </p>
                                <div class="form-group shadow-textarea mb-3 p-1">
                                    <textarea name="reviews" class="form-control z-depth-1"
                                        id="exampleFormControlTextarea6" rows="3"
                                        placeholder="Write your reviews here."></textarea>
                                    <label for="exampleFormControlTextarea6"></label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button id="submitBtn" type="submit" form="reviewForm"
                    class="btn btn-rounded btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- SUCCESS MODEL-->
<div class="modal fade" id="reviewAddedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-success" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <!--Body-->
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-check fa-4x mb-3 animated rotateIn" style="font-size: 80px;"></i>
                    <p style="font-size: 20px;">Review Added!</p>
                </div>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>



<!--Footer-->
<footer class="page-footer font-small light fixed-bottom">

    <!--Footer Links-->
    <div class="container">
        <!--/First row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="page-footer py-3 text-center">
        <div class="container-fluid d-flex justify-content-end">
            <a class="btn btn-sm btn-rounded btn-primary" data-toggle="modal" data-target="#addReviewModal">Add
                review</a>
            <a class="btn btn-sm btn-rounded btn-default"><i class="fas fa-plus mr-1"></i>Follow</a>
            </a>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/Footer-->

<script>


    $(document).ready(() => {

        $('.mdb-select').materialSelect();
        ScrollReveal().reveal('#review1');

        // Start Initialization
        // Set Rating for Read
        $.getJSON('/api/getReviews/' + $("#classID").text(), function (data) {
            for(let i=0; i<data[0].reviews.length; i++){
                $(`.rating-quality-${i}`).starRating({
                    useFullStars: false,
                    starShape: 'rounded',
                    starSize: 18
                });
                $(`.rating-difficulty-${i}`).starRating({
                    useFullStars: false,
                    starShape: 'rounded',
                    starSize: 18
                });
                $(`.rating-quality-${i}`).starRating('setRating', data[0].reviews[i].qualityRating);
                $(`.rating-difficulty-${i}`).starRating('setRating', data[0].reviews[i].difficultyRating);
                $(`.rating-quality-${i}`).starRating('setReadOnly', true);
                $(`.rating-difficulty-${i}`).starRating('setReadOnly', true);
            }
            $(`.rating-overall-quality`).starRating({
                useFullStars: false,
                starShape: 'rounded',
                starSize: 20,
                forceRoundUp:true
            });
            $(`.rating-overall-difficulty`).starRating({
                useFullStars: false,
                starShape: 'rounded',
                starSize: 20,
                forceRoundUp:true
            });

            // Round up for stars

            let classQualityRate, classDifficultyRate;
            classQualityRate = data[0].overallClassQualityRate;
            classDifficultyRate = data[0].overallClassDifficultyRate;
            const QualityRateDec = classQualityRate - Math.floor(classQualityRate);
            const DifficultyRateDec = classDifficultyRate - Math.floor(classDifficultyRate);
            if(QualityRateDec >= 0.35 && QualityRateDec < 0.50){
                classQualityRate = Math.floor(classQualityRate) + 0.50;
            } else if(QualityRateDec >= 0.50 && QualityRateDec < 0.75){
                classQualityRate = Math.floor(classQualityRate) + 0.50;
            }else if(QualityRateDec >= 0.75){
                classQualityRate = Math.ceil(classQualityRate);
            }
            if(DifficultyRateDec >= 0.35 && DifficultyRateDec < 0.50){
                classDifficultyRate = Math.floor(classDifficultyRate) + 0.50;
            } else if(DifficultyRateDec >= 0.50 && DifficultyRateDec < 0.75){
                classDifficultyRate = Math.floor(classDifficultyRate) + 0.50;
            }else if(DifficultyRateDec >= 0.75){
                classDifficultyRate = Math.ceil(classDifficultyRate);
            }


            $(`.rating-overall-quality`).starRating('setRating', classQualityRate);
            $(`.rating-overall-difficulty`).starRating('setRating', classDifficultyRate);
            $(`.rating-overall-quality`).starRating('setReadOnly', true);
            $(`.rating-overall-difficulty`).starRating('setReadOnly', true);

            // bar chart
            let ctx = document.getElementById('myChart').getContext('2d');
            let ctx2 = document.getElementById('myChart2').getContext('2d');
            let ctx3 = document.getElementById('myChart3').getContext('2d');
            // Chart.defaults.global.legend.display = false;
            Chart.scaleService.updateScaleDefaults('linear', {
                ticks: {
                    min: 0,
                    stepSize: 1
                }
            });

            Chart.pluginService.register({
                afterDraw: function (chart) {
                    if (chart.data.datasets[0].data.length === 0) {
                        // No data is present
                        var ctx = chart.chart.ctx;
                        var width = chart.chart.width;
                        var height = chart.chart.height;
                        chart.clear();

                        ctx.save();
                        ctx.textAlign = 'center';
                        ctx.textBaseline = 'middle';
                        ctx.font = "20px normal 'Helvetica Nueue'";
                        ctx.fillText('No data to display', width / 2, height / 2);
                        ctx.restore();
                    }

                }
            });
            const chart = new Chart(ctx, {
                // The type of chart we want to create
                type: 'bar',

                // The data for our dataset
                data: {
                    labels: ['A', 'B', 'C', 'D', 'F'],
                    datasets: [{
                        data: data[1].grade,
                        backgroundColor:[
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'Grade Distribution'
                    },
                    legend: {
                        display: false
                    },
                    deferred: {
                        xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                        yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                        delay: 700      // delay of 500 ms after the canvas is considered inside the viewport
                    }
                }
            });


            // Chart 2:

            const chart2 = new Chart(ctx2, {
                // The type of chart we want to create
                type: 'pie',

                // The data for our dataset
                data: {
                    labels: ['Very Easy','Easy','Fair','Hard','Impossible'],
                    datasets: [{
                        data: data[1].hwLoad,
                        backgroundColor:[
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'HW Load'
                    },
                    deferred: {
                        xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                        yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                        delay: 700      // delay of 500 ms after the canvas is considered inside the viewport
                    }

                }
            });

            const chart3 = new Chart(ctx3, {
                // The type of chart we want to create
                type: 'pie',

                // The data for our dataset
                data: {
                    labels: ['Very Easy','Easy','Fair','Hard','Impossible'],
                    datasets: [{
                        data: data[1].exam,
                        backgroundColor:[
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(75, 192, 192, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1
                    }]
                },

                // Configuration options go here
                options: {
                    title: {
                        display: true,
                        text: 'Exam Hardness'
                    },
                    deferred: {
                        xOffset: 150,   // defer until 150px of the canvas width are inside the viewport
                        yOffset: '100%', // defer until 50% of the canvas height are inside the viewport
                        delay: 700      // delay of 500 ms after the canvas is considered inside the viewport
                    }

                }
            });

        });

        // Set Star Rating for Write
        $(`.rating-rate-quality`).starRating({
            useFullStars: false,
            starShape: 'rounded',
            starSize: 20,
            minRating: 0,
            disableAfterRate: false,
            callback: function (currentRating, $el) {
                $('#classQuality').val(currentRating);
            }
        });

        $(`.rating-rate-difficulty`).starRating({
            useFullStars: false,
            starShape: 'rounded',
            starSize: 20,
            minRating: 0,
            disableAfterRate: false,
            callback: function (currentRating, $el) {
                $('#classDifficulty').val(currentRating);
            }
        });


        // Submit
        $('#submitBtn').click(function (e) {
            $('#currentClass').val($('#classID').text());
            $('#addReviewModal').modal('hide');
            $('#reviewAddedModal').modal('show');
        });

    });




</script>